<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="map25lendoc">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.209558074576399 2.22044604925031E-16 -0.104915075598902"
        rpy="0 0 0" />
      <mass
        value="40.0170338495876" />
      <inertia
        ixx="3.53555589503741"
        ixy="-3.37500330889726E-17"
        ixz="-0.335566439096687"
        iyy="3.71856709238735"
        iyz="8.42571040224251E-16"
        izz="6.85251683894787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map25lendoc/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map25lendoc/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>