<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="map30lendoc">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.239885077654854 -2.22044604925031E-16 -0.104336361493945"
        rpy="0 0 0" />
      <mass
        value="39.0165244785435" />
      <inertia
        ixx="3.44501827507821"
        ixy="-2.87479825472873E-15"
        ixz="-0.279193037384728"
        iyy="3.07493075763285"
        iyz="5.96277564803307E-17"
        izz="6.1326665623119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map30lendoc/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map30lendoc/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>