<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="map15xuongdoc">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.427185129489922 0 -0.107533878601297"
        rpy="0 0 0" />
      <mass
        value="27.6102203097526" />
      <inertia
        ixx="0.950415761406124"
        ixy="1.95191819112707E-15"
        ixz="0.229105248317051"
        iyy="2.84071679328479"
        iyz="2.27053789063667E-16"
        izz="3.54691425046383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map15xuongdoc/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://map15xuongdoc/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>